body {overflow: auto;}

@font-face {
    font-family: 'Florian';
    src: url(DEMO-florian-black.otf);
}

@font-face {
    font-family: 'Rische';
    src: url(rische-demo.otf);
}

@font-face {
    font-family: 'Stellar';
    src: url(Stellar\ Moon\ Regular.ttf);
}

/* Canvas provisional */

.dev-canvas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo {
    width: 700px;
    background: url(https://i.imgur.com/zyC7Rei.png);
    background-size: cover;
    height: 1700px;
    border: 1px solid #a996c7;
    color: var(--text);
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-flow:column;
    align-items: center;
    gap: 40px;
    font-family: serif;
    line-height: 1.5;
    font-family: 'Asul';
    padding-top: 0px;
    padding-bottom: 10px;
    background-repeat: repeat;
}

.lv-titulo {
    width: 100%;
    font-size: 116px;
    font-family: 'Rische';
    font-weight: 900;
    text-align: left;
    margin-top: -25px;
    color: #443b53;
    text-transform: lowercase;
    text-shadow: 1px 0 #a996c7, -1px 0 #a996c7, 0 1px #a996c7, 0 -1px #a996c7;
}

.lv-titulo2 {
    width: 100%;
    font-size: 88px;
    font-family: 'Rische';
    font-weight: 900;
    text-align: left;
    color: #443b53;
    text-transform: lowercase;
    text-shadow: 1px 0 #a996c7, -1px 0 #a996c7, 0 1px #a996c7, 0 -1px #a996c7;
}

.lin-tit {
    background: #443b53;
    height: 1px;
    width: 100px;
    margin-top: 5px;
    margin-left: 90px;
}

.lin-estre {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 25px;
    margin-top: -13px;
}

.lin-estre2 {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 35px;
    margin-top: -23px;
}

.lin-estre3 {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 25px;
    margin-top: -13px;
    margin-left: 7px;
}

.apellido {
    margin-top: -100px;
}

.lin2-tit {
    background: #443b53;
    height: 1px;
    width: 100px;
    margin-top: 35px;
    margin-right: 30px;
}

.lin2-estre {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 25px;
    margin-top: 17px;
}

.lin2-estre2 {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 35px;
    margin-top: 2px;
}

.lin2-estre3 {
    color: #a996c7;
    height: 20px;
    width: 20px;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 7px;
}

.imgnombre {
    background: url(https://i.imgur.com/FnjJ7iJ.png);
    background-size: cover;
    width: 145px;
    height: 145px;
    margin-top: -155px;
    z-index: 10;
    margin-left: 160px;
    filter: grayscale(30%);
    transition: transform 0.5s ease-in-out;
}

.imgnombre:hover {
    transform: rotate(360deg)
}

.sec1 {
    display: flex;
    margin-top: -30px;
}

.lv-estresec1 {
    transform: translate(242px, 380px);
    color: #a996c7;
    font-size: 30px;
}

.lv-estresec2 {
    transform: translate(541px, 60px);
    color: #a996c7;
    font-size: 30px;
}

.lv-imgsec1 {
    background: url(https://i.imgur.com/T0vVEt2.png);
    background-size: cover;
    width: 380px;
    height: 420px;
    margin-left: -85px;
}

.gafas {
    background: url(https://i.imgur.com/dChrm3Y.png);
    background-size: cover;
    width: 165px;
    height: 68px;
    margin-top: 60px;
    z-index: 10;
    margin-left: 38px;
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transition: transform 0.5s ease-in-out;
    float: left;
    z-index: 9;
    position: relative;
    filter: grayscale(20%);
}

.gafas:hover {
    transform: translate(-40px, -40px) rotate(-30deg); 
}

.datos {
    width: 325px;
    height: 405px;
    margin-top: 40px;
    background: linear-gradient(-180deg, #443b53, rgba(20, 17, 24, 0.8) 60%);
    border: 1px solid #a996c7;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
    padding-top: 10px;
    margin-left: -90px;
    color: #bcb5c8;
    border-radius: 20px;
}

.tit-datos {
    font-size: 35px;
    color: #a996c7;
    font-weight: 900;
    font-family: 'Rische';
}

.sec2 {

    width: 600px;
    gap: 20px;
    margin-left: 0px;
}

.bitsec2 {
    background: #18141c;
    border: 1px solid #a996c7;
    width: 333px;
    height: 405px;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 10px;
    color: #bcb5c8;
}

.tit-bitacora {
    font-size: 35px;
    color: #443b53;
    font-weight: 900;
    font-family: 'Rische';
}

.imgsec2-1 {
    width: 220px;
    height: 400px;
    border: 1px solid #a996c7;
    background: url(https://i.imgur.com/Ryp6dQ6.png) center;
    background-size: cover;
    filter: grayscale(60%);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
    position: relative;
}

.imgsec2-2 {
    width: 120px;
    height: 120px;
    border: 1px solid #a996c7;
    background: url(https://i.imgur.com/2gIJ1iT.png);
    background-size: cover;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.imgsec2-3 {
    width: 120px;
    height: 120px;
    border: 1px solid #a996c7;
    background: url(https://i.imgur.com/2gIJ1iT.png);
    background-size: cover;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.imgsec3-1 {
    background: url(https://i.imgur.com/fmbdFK3.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    margin-left: 335px;
    margin-top: -130px;
}

.historial {
    width: 490px;
    height: 240px;
    margin-top: -70px;
    background: linear-gradient(-180deg, rgba(20, 17, 24, 0.8), #443b53);
    border: 1px solid #a996c7;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    padding-top: 10px;
    margin-left: 65px;
    float: left;
    color: #bcb5c8;
    border-radius: 20px;
}

.tit-historial {
    font-size: 35px;
    color: #a996c7;
    font-weight: 900;
    font-family: 'Rische';
}

.lv-estresec3-1 {
    transform: translate(54px, 40px);
    color: #a996c7;
    font-size: 30px;
}

.lv-estresec3-2 {
    transform: translate(542px, 150px);
    color: #a996c7;
    font-size: 30px;
}

.stats {
    display: flex;
    width: 100%;
    gap: 95px;
    margin-left: 18px;
}

.stats stat {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-right: -40px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Rische';
    color: #bcb5c8;
}

.vit {
    display: inline-block; 
    font-family: imbue; 
    font-size: 40px; 
    font-weight: 900; 
    line-height: 1.3; color: black; 
    background: url(https://i.imgur.com/jCnogHX.png);
    background-size: cover;
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.vit:hover {
    transform: scale(0.8);
}

.en {
    display: inline-block; 
    font-family: imbue; 
    font-size: 40px; 
    font-weight: 900; 
    line-height: 1.3; color: black; 
    background: url(https://i.imgur.com/st4I4XQ.png);
    background-size: cover;
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.en:hover {
    transform: scale(0.8);
}

.pm {
    display: inline-block; 
    font-family: imbue; 
    font-size: 40px; 
    font-weight: 900; 
    line-height: 1.3; color: black; 
    background: url(https://i.imgur.com/rwqCekZ.png);
    background-size: cover;
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.pm:hover {
    transform: scale(0.8);
}

.vel {
    display: inline-block; 
    font-family: imbue; 
    font-size: 40px; 
    font-weight: 900; 
    line-height: 1.3; color: black; 
    background: url(https://i.imgur.com/O6Gaq6v.png);
    background-size: cover;
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.vel:hover {
    transform: scale(0.8);
}

.vol {
    display: inline-block; 
    font-family: imbue; 
    font-size: 40px; 
    font-weight: 900; 
    line-height: 1.3; color: black; 
    background: url(https://i.imgur.com/b2X41cG.png);
    background-size: cover;
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease-in-out;
}

.vol:hover {
    transform: scale(0.8);
}

.bittexto {
    height: 405px;
}

.histotexto {
    height: 160px;
    overflow: auto;
}

.stats i { font-size:30px; color: #fff; line-height:110%; }

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 2s infinite alternate;
}

/* Animación de parpadeo */
@keyframes twinkle {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0.2;
        transform: scale(1);
    }
}

/* Posicionamiento aleatorio de las estrellas */
.star:nth-child(1) { top: 10%; left: 56%; animation-duration: 1.5s; }
.star:nth-child(2) { top: 25%; left: 60%; animation-duration: 2s; }
.star:nth-child(3) { top: 30%; left: 50%; animation-duration: 1.8s; }
.star:nth-child(4) { top: 60%; left: 66%; animation-duration: 2.2s; }
.star:nth-child(5) { top: 80%; left: 60%; animation-duration: 2s; }
.star:nth-child(6) { top: 85%; left: 50%; animation-duration: 1.7s; }
.star:nth-child(7) { top: 18%; left: 38%; animation-duration: 2.4s; }
.star:nth-child(8) { top: 32%; left: 67%; animation-duration: 2.1s; }
.star:nth-child(9) { top: 50%; left: 34%; animation-duration: 1.9s; }
.star:nth-child(10) { top: 95%; left: 33%; animation-duration: 1.6s; }
.star:nth-child(11) { top: 5%; left: 46%; animation-duration: 1.5s; }

.star:nth-child(12) { top: 125%; left: 60%; animation-duration: 2s; }
.star:nth-child(13) { top: 140%; left: 50%; animation-duration: 1.8s; }
.star:nth-child(14) { top: 160%; left: 66%; animation-duration: 2.2s; }
.star:nth-child(15) { top: 175%; left: 60%; animation-duration: 2s; }
.star:nth-child(16) { top: 143%; left: 40%; animation-duration: 1.7s; }
.star:nth-child(17) { top: 120%; left: 32%; animation-duration: 2.4s; }
.star:nth-child(18) { top: 135%; left: 55%; animation-duration: 2.1s; }
.star:nth-child(19) { top: 150%; left: 34%; animation-duration: 1.9s; }
.star:nth-child(20) { top: 105%; left: 67%; animation-duration: 1.6s; }
.star:nth-child(21) { top: 85%; left: 46%; animation-duration: 1.5s; }
/* Agregar más estrellas si deseas */